version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:12.1

    working_directory: ~/now_production

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: npm test
  deploy_dev:
    filters:
      branches:
        only: /develop/
    docker:
      - image: circleci/node:12.1

    steps:
      
      # deploy
      - run: npx now --token ${NowCLI} --scope=controlbit
  deploy_prod:
    filters:
      branches:
        only: /master/
    docker:
      - image: circleci/node:12.1

    steps:
      
      # deploy
      - run: npx now --token ${NowCLI} --scope=controlbit --target production
  

workflows:
  version: 2
  build_and_deploy_dev:
    - build
    - deploy_dev
  build_and_deploy_prod:
    - build
    -deploy_prod